<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk</title>
    <link rel="stylesheet" href="/css/letstalk.css">
</head>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0"></h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                    <a class="nav-link" href="#">logout</a>

                </nav>
            </div>
        </header>
    </div>
    {{!-- {{>navbar}} --}}
    <main class="px-3">
        <h1 id="title"> Let's chat {{name}} </h1>
        <div class="container">
            <div class="chat-area" id="main">
                <div class="chat-user" id="message-body">
                    <div class="no-of-message" id="message-is">
                        <div class="chat">
                            A text file on a server can be read with Javascript by downloading the file with 
                            Fetch / XHR and parsing the server response as text. Note that the file needs be on the same domain. If the file is on a different domain, then proper CORS response headers must be present
                        </div>
                        <div class="profile">
                            profile
                        </div>
                    </div>

                    <div class="no-of-message">
                        <div class="chat">
                            hiiii

                        </div>
                        <div class="profile">
                            profile
                        </div>

                    </div>
                    <div class="no-of-message">
                        <div class="chat">
                            HARSHIL PANCHAL

                        </div>
                        <div class="profile">
                            profile
                        </div>

                    </div>

                </div>
            </div>
            <div class="users">
                user's status {{status1}}
                <p class="sangu"> </p>
            </div>
        </div>
    </main>

    <div class="send">
        <!-- <form nam="form" id="form1" method="post" action=""> -->
        <label for="text" class="form-label"></label>
        <input type="text" id="text-box" placeholder="idhhar liko........" name="message">
        <span><button type="button" class="btn btn-primary" name="button">Send</button></span>
        <!-- </from> -->
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('ws://localhost:8000');


        let file = document.getElementById('title').value;
        console.log(file);
        let submit = document.querySelector("button");
        let element = document.getElementById("text-box");
        let sender = "Harsh";
        let room = "myroom";
        let array = [];

        var send = () => {
            let object = {
                "sender": sender,
                "room": room,
                "message": element.value
            }
            array.push(object);
            // submit.form.reset();
            socket.emit('message', element.value);

            element.value = null;
        }
        socket.on('message', (message) => {
            console.log("Mesage form Server : " + message);

            var div = document.createElement('div');
            var box = document.getElementById("message-body");
            //div.innerText="I am here "
            div.classList.add("no-of-message");
            box.append(div);
            var subdiv1 = document.createElement('div');
            subdiv1.classList.add("chat");
            subdiv1.innerHTML=message;
            div.append(subdiv1);
            var subdiv2 = document.createElement('div');
            subdiv2.classList.add("profile");
            subdiv2.innerHTML="Profile"
            div.append(subdiv2);
            
            //var subdiv1 = document.createElement('div');
           // subdiv1.classList.add("chat");
            //var subdiv2 = document.createElement('div');
           /// subdiv2.classList.add("profile");

            //document.getElementById("message-is").appendChild(subdiv1.cloneNode());
            ///document.getElementById("message-is").appendChild(subdiv2.cloneNode());
            //document.getElementById("message-body").appendChild(div);
            //console.log("end");
            //console.log(box.innerText);
            //subdiv1.innerHTML = message;
            //subdiv2.innerHTML = "profile";

        })
        submit.addEventListener('click', send, false);
        console.log(array);
        let x = document.cookie;
        console.log(x);

    </script>
    {{!--
    <script type="module" src="/script/talk.js"></script> --}}



</body>

</html>