<nav>
    <div id="mainidv">
        <div id="navbar">
            <div class="nfild"><a href="">HOME</a></div>
            <div class="nfild"><a href="">MATERIAL</a></div>
            <div class="nfild"><a href="">PROFESSORS</a></div>
            <div class="nfild"><a href="">TRENDING</a></div>
            <div id="searchbox" class="nfild">
                <input type="search" placeholder="Search" name="search" id="searchbox">
                <span><i class="fas fa-search"></i></span>
            </div>
            <div class="nfild"><a href="">PROFILE</a></div>
            <div class="nfild"><a href="">IMPORTANT</a></div>
            <div class="nfild" id="bag"><a href="">MY BAG</a></div><span class="list" id="list"> 0 </span>
            <div class="nfild"><a href="/">MY BAG</a></div>
            <!-- <div class="nfild"><a href="">MY BAG</a></div> -->


        </div>
    </div>

</nav>